/* .recent-transactions {
  color: black;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex: 3;
  height: 300px;/
}

.recent-transactions h2 {
  margin-bottom: 20px;
  color: black;
}

.transactions-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.transaction-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  width: 90%; 
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transaction-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.transaction-details {
  flex-grow: 1;
  margin-left: 15px;
}

.transaction-title {
  font-size: 18px;
  font-weight: bold;
}

.transaction-date {
  font-size: 14px;
  color: #ccc;
}

.transaction-amount {
  font-size: 16px;
  font-weight: bold;
  color: #e74c3c;
}

.pagination {
  display: flex;
  justify-content:center;
  gap: 10px;
  background-color: #fff;
}

.pagination button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #555;
}
 */

 .recent-transactions {
  color: black;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex: 3;
  height: 300px;
  overflow-y: auto; /* Enable vertical scrolling for better user experience */
}

.recent-transactions h2 {
  margin-bottom: 20px;
  color: black;
}

.transactions-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  width: 90%; /* Adjust the width to fit 3 items in one row */
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transaction-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.transaction-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.transaction-details {
  flex-grow: 1;
  margin-left: 15px;
}

.transaction-title {
  font-size: 18px;
  font-weight: bold;
}

.transaction-date {
  font-size: 14px;
  color: #ccc;
}

.transaction-actions {
  display: flex;
  align-items: center;
}

.edit-icon,
.delete-icon {
  margin-left: 10px;
  color: #333;
  cursor: pointer;
  font-size: 18px; /* Increase icon size for better visibility */
}

.transaction-amount {
  font-size: 16px;
  font-weight: bold;
  color: #e74c3c;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  margin-top: 10px;
}

.pagination button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #555;
}
.icons{
  margin-top: 15px;
}
.icons:hover{
  cursor: pointer;
}